{% extends "_layouts/leistungen-layout.twig" %}
{% set pageTitle = entry.heroTitle %}
{% block content %}
<article class="section-general">



    <div class="general-wrapper ">

      

      <div class="content-general margin-top-leistungen">
        {{entry.richText}}
      </div>
        
    </div>
  </article>
{% endblock %}