* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'komet-sc', 'sans-serif';
  font-size: 20px;
}

html{

}
.main-h2 h2{
  font-size: calc(2rem + 2vh);
}
.h2-headline{
  font-size: 3rem !important;
}
.h2{
  font-size: calc(2rem + 2vh);
}

header{
  width: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}



.toggle-active{
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
  min-height: 100svh;
}

.toggle-active .navbar-links{
  padding-top: 20vh;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: #181818;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 1rem;
  
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}


.nav-link{
  margin: 0 .5rem;
  position: relative;
}

.nav-link::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 4px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

.nav-link:hover::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 4px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s ease;
}



.active::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 4px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s ease;
}
.active:hover::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 4px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}






.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

 .navbar-links.active {
      display: flex;
      
  }
}



/*Apply styles after scroll*/
.scrolling-active{
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
  height: 6.6rem;
}

.scrolling-active .navbar-links .nav-link{
  color: #313131;
}

.scrolling-active .toggle-button .bar {

  background-color: #313131;

}


.scrolling-active .nav-link::after{
  background-color: #313131;
}

.toggle-active{
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.toggle-active .nav{
  height: 6.6rem;
}

.toggle-active .navbar-links .nav-link{
  color: #313131;
}

.toggle-active .toggle-button .bar {

  background-color: #313131;

}


.toggle-active .nav-link::after{
  background-color: #313131;
}


.hero{
  margin-top: 4rem;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow: hidden;
  background: center top / cover no-repeat
}



.heroText__wrapper{
    position: relative;
    margin: 0 auto;
    height: 100%;
}


.heroImg{
    height: auto;
    width: 100%;
}

.h1-styling{
    position: absolute;
    right: 10%;
    top: 20%;
    font-size: calc(2.5rem + 2vw);
    color: #fff !important;
    width: 30%;
}





@media (max-width: 1000px) {



    .h1-styling{
        position: absolute;
        right: 5%;
        left: 5%;
        top: 40%;
        font-size: calc(2.5rem + 2vw);
        color: #fff !important;
        width: 90%;
    }
}

/*Information Section*/

.section-slider1-wrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  flex-direction: column;
}

.swiper{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;

}



.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 13px;
  
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination1{
  width: 80px !important;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper1-btn{
    display: none;
  }
}

.slider-info-h2{
  text-align: center;
  margin: 2rem;
  
}
.h2-info-container{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card{
  border-radius: 13px;
  background-color: #FFF;

}
.card-content{
  padding: 0 2rem 2rem 2rem;
}
.card-content h2 {
  margin-block-end: 0.4em;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.card-image{
  padding: 0;
  display: flex;
  justify-content: center !important;
}


.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 13px;
  padding: 0;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding-top: 25px;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 13px 13px 0 13px;
  
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #fff;
}
.overlay::after{
  border-radius: 0 13px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 13px;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 13px;
  border: 4px solid #fff;
}
.name{
  font-size: 1.5rem;
  font-weight: 500;
  color: #181818;
}
.description{
  font-size: 1rem;
  margin: 0;
  color: #303030;
  text-align: center;
  font-family: century-gothic, sans-serif;
}





  /*Price Section*/

  .price-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: 100vh;

  }

  .price-wrapper{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;

  }

  .price-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    padding: 5rem;
  }

  .flex-items{
    width: 25rem;
    min-height: 20rem;
    
    border-radius: 13px;
    background-color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
    
  }

 .price{
    
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 4rem);
 }

 .price-text{
    font-size: 3rem;
 }

 .price-text span{
    font-weight: 500;
    font-size: 3.7rem;
 }

.btn{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 20rem;
  min-width: 15rem;
  cursor: pointer;
  margin: 0rem;
}


 .btn-filled{
    cursor: pointer;
    width: 100%;
    height: 3rem;
    background-color: #37BFED;
    border-radius: 13px;
    margin-top: 1rem;
    color: #F9F9F9;
    transition: ease-in-out .7s;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #37BFED;
 }


.btn-filled:hover{
    
    background-color: #F9F9F9;
    color: #37BFED;
    border: 2px solid #37BFED;
    font-weight: 500;
 }

 

 .btn-filled-sm{
  min-width: 15rem;
  max-width: 20rem;
  height: 3rem;
  background-color: #37BFED;
  border-radius: 13px;
  margin-top: 1rem;
  color: #F9F9F9;
  transition: ease-in-out .7s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #37BFED;
}


.btn-filled-sm:hover{
  
  background-color: #F9F9F9;
  color: #37BFED;
  border: 2px solid #37BFED;
  font-weight: 500;
}

 .price-cards-mobile{
   display: none;
 }

 @media(max-width: 1700px){
   .price-cards-mobile{
      display: flex;
      padding-top: 2rem;
      padding-bottom: 2rem;
      justify-content: center;
    }

    .price-cards{
      display: none;
    }

    .flex-items{
      width: 30rem;
      min-height: 20rem;
      border-radius: 13px;
      background-color: #F9F9F9;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
      
    }

    .price-text{
      font-size: 2.5rem;
      margin-top: 0rem !important;
      margin-bottom: 0rem !important;
      line-height: 1.2 !important;
   }
  
   .price-text span{
      font-weight: 500;
      font-size: 3.2rem;
   }
  

 }

 @media(max-width: 600px){

  .flex-items{
    width: 80vw;
    height: 50vh;
    border-radius: 13px;
    background-color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
    
  }

 }
 .price-text-wrapper{
   text-align: center;
   margin-bottom: 3rem;
     max-width: 108.75rem;
 }
 .price-text-wrapper h3{
   
   margin-bottom: 1.5rem;
 }

 /*About Me Section*/

 .aboutme-wrapper{
  display: flex;
  width: 100%;
  max-height: calc(100vh - 80px);
  background-color: #F9F9F9;
  justify-content: center;
  align-content: center;
  
}



.aboutme-img{
  
  width: 50vw;
  overflow: hidden;
}

.aboutme-img img{
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}

.aboutme-content{
  
  width: 50vw;
  
  padding: calc(100vw - 90vw);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.aboutme-content p{
  color: #303030;
  font-family: century-gothic, sans-serif;
}



.btn-centered{
  display: flex;
  justify-content: center;
}

.btn-lined{
  width: 80%;
  height: 3rem;
  border: 2px solid #37BFED;
  font-weight: 500;
  background-color: #F9F9F9;
  border-radius: 13px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #37BFED;
  transition: ease-in-out .7s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-lined:hover{
  
  background-color: #37BFED;
  
  color: #F9F9F9;

}

.info-about-mobile, .mobile-h2-wrapper {
  display: none;

}

@media (max-width: 1500px) {
  

  .aboutme-img{
      
   
    width: auto;
  }

  .aboutme-content{
    
 
    padding: 2rem;

  }
  
}

  
@media (max-width: 1200px) {

.aboutme-img{
  
  width: 80vw;
  min-height: 60vh;
  
  }


.aboutme-wrapper{
  max-height: none;
    flex-wrap: wrap;
  }

.aboutme-content{
    
    width: 90vw;
    padding-top: 2rem;
  }

}
@media (max-width: 600px) {
  

  .aboutme-img{
    min-height: 60vh;

    }
  

  .aboutme-wrapper{
      flex-wrap: wrap;
  }

  .aboutme-content{
      width: 100vw;
  }

 


  .info-about-mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
 
  }

  .about-name{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-h2-wrapper{
    display: block;
    
    text-align: center;
  }
  .abouth2-mobile {
   margin-top: 3rem;
   line-height: 1.7;
   padding-bottom: 2vh;
  }

  .abouth2-mobile::after{
    content: '';
    background: #37BFED;
    height: 2px;
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
      
  }

  .about-img-mobile{
      margin:0 auto;
      width: 15rem;
      height: 15rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 13px;
      
  }
  .img-about{
      object-fit: cover;
      object-position: bottom;
      height: 100%;
      border-radius: 13px;
  }

  .socialmedia-btn{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .icon{
      
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      margin: 1rem;
      
      border: 2px solid #37BFED;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
  }

  .svg-icon{
      fill: #37BFED;
      width: 1.2rem;
      
  }

  .svg-icon-ig{
    fill: #37BFED;
    width: 1.5rem;
    
}

  
  
}

/*Slider2*/


.swiper2-main {
  max-width: 1200px;
  min-height: 30vh;
  background: #fff;
  margin-bottom: 3rem;
}

.swipe2{
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-pagination-bullet{
  background-color: #5bcaee;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #37BFED
}

.swiper2-btn{
  color: #37BFED;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper2-btn{
    display: none;
  }
}

.parent-text{
  display: flex;
  align-items: center;
  min-height: 30vh;
  
}



.swiper2-navBtn{
  color: #37BFED;
  margin: 1rem;
  
}



/*Gutschein Section*/
.gutschein-wrapper{
  max-width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
}

.gutschein-content{
  display: flex;
  
  gap: 4rem;
  flex-wrap: wrap-reverse;
  text-align: center;
  justify-content: center;
}

.gutschein-subpage{
  min-height: 100vh !important;
}

.gutschein-bild{
  max-width: 20rem;
  max-height: 60vh;
  
}

.gutschein-bild img {
  object-fit: cover;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-position:  center;
}

.gutschein-text{
  max-width: 30rem;
 
display: flex;
  
}

.gutschein-text p{
  color: #303030;
  font-family: century-gothic, sans-serif;
}

.text-content{
  margin: auto;
  
  
}



@media (max-width: 1000px){
  .gutschein-content{
   max-width: 90%;
  gap: 1rem;
  }

  .gutschein-content{
      margin-top: 5rem;
      margin-bottom: 5rem;
  }
}


.contact {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 70px);
  
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
  border-radius: 12px 12px 12px 12px;
  transition: all .5s ease-in-out;
  background-color: #F9F9F9;
}



.contact-links-wrapper, .contact-form-wrapper {
  width: 50%;
  padding: 3rem 5% 3rem 5%;
  
}


.contact-links-wrapper {
  
  border-radius: 13px 0 0 13px;
}

.contact-form-wrapper {
  border-radius: 0 13px 13px 0;
  
}

@media only screen and (max-width: 800px) {
  .contact-links-wrapper, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links-wrapper {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }

}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.contact-h2 {
  font-size: 3rem;
  margin: 1rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 3px solid #37BFED;
  text-align: center;
}
.contact-para{
  margin-top: 1.5rem;
  color: black;
  font-size: 1.3rem;
text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.contact-link {
  list-style-type: none;
  background: #37BFED;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact-link:hover {
  background: #fff;
  border: 3px solid #37BFED;
  transition: all 0.5s ease-in-out;
}



.contact-form-item {
  position: relative;
}



label {
  color: black;
}

input, textarea {
  width: 100%;
  outline: 0;
 
  border-radius: 4px;
  margin-bottom: 0.4rem;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

textarea{
  height: 100px;
}

.contact-link a svg {
  height: 20px;
  stroke: #fff !important;
  fill:#fff;
}

.contact-link a:hover svg {
  height: 20px;
  stroke: #37BFED !important;
  fill:#37BFED;
}



@media only screen and (max-width: 800px) {
  .contact-h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 600px) {
  .contact-h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .contact-links {
    padding-top: 30px;
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    
    background-color: #fff;
    box-shadow: none;
 
  }
  .contact{
    background-color: #fff;
  }

 
}

.btn-contact-filled{
  width: 100%;
  height: 3rem;
  border: 2px solid #37BFED;
  background-color: #37BFED;
  border-radius: 13px;
  margin-top: 1rem;
  color: #F9F9F9;
  transition: ease-in-out .7s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-contact-filled:hover{
  
  background-color: #F9F9F9;
  color: #37BFED;
  border: 2px solid #37BFED;
  font-weight: 500;
}

input:focus{
  border: 1.5px solid #37BFED;
}
input{
  border: 1.5px solid #717171;
  border-radius: 13px;
}

textarea:focus{
  border: 1.5px solid #37BFED;
}

textarea{
  border: 1.5px solid #717171;
  font-family: sans-serif;
  border-radius: 13px;
}


/*Footer*/


#footer {
  color: #181818;
  background-color: #E9F5DB;
}

.footer-box{
padding-top: 4vh ;
width: 80%;
margin: auto;
background-color: #E9F5DB

}
.borderline-top{
border-top: 1px solid #181818;
padding-bottom: 1vh;
}



.container-footer {
  display: grid; 
  grid-template-columns: repeat(2, 0.4fr); 
  grid-template-rows: repeat(2, 0.5fr); 
  gap: 0px 0px; 
  margin-top: 1rem;;
}
.icontel-footer {
  align-self: center; 
  
  grid-area: 1 / 1 / 2 / 2; 
}
.telefonnummer-footer {
  align-self: center; 
  grid-area: 1 / 2 / 2 / 3; 
}
.email-footer {
  align-self: center; 
  grid-area: 2 / 2 / 3 / 3; 
}
.iconmail-footer {
  align-self: center; 
  grid-area: 2 / 1 / 3 / 2; 
}

.icon-footer{
  font-size: 2rem;
}
.contact-footer{
  font-size: 1.2rem;
}

.hover-footer:hover{
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 900px){
.borderline-top{
  border-top: 1px solid #181818;
  padding-bottom: 4vh;

}

}


.container{
	max-width: 1300px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
ul{
	list-style: none;
  padding-left: 0;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #37BFED;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.social-links a svg{
  height: 20px;
  fill: #fff;
}

.social-links a svg:hover{
  height: 20px;
  fill: #37BFED;
}


.svgicon{
  fill: #bbb;
  height: 20px;
  margin-right: 10px;
}

.copywrite{
  color: #bbb;
  text-align: center;
  margin-top: 3rem;

}
.copywrite a {
  color: #bbb;
}



/*Für Unterseiten Basic Styling*/

.general-wrapper{
  
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
 
}

.content-general{
  max-width: 90%;
  
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.content-general img {
  width: 100%;
  border-radius: 13px;
  margin: 0 auto;
}

.content-general p {
  
  margin: 1rem 1rem 0 0;
  font-family: century-gothic, sans-serif;
}

.content-general blockquote {
  color: rgb(131, 131, 131);
  
  padding-left: 10px;
  border-left: 3px solid #bbb;
  margin-left: 0;
  font-family: century-gothic, sans-serif;
}

.content-general ul li {
  list-style: circle;
  list-style-position: inside;
  font-family: century-gothic, sans-serif;
}

.content-general a {
  color: #37BFED;
  text-decoration: none;
}
.content-general a:hover{
  color: #6E93f7;
  text-decoration: none;
}


.content-general ul,ol {
  margin: 0;
}

figure{
  margin: 0;
}

figcaption{
  color: #707070;
  font-family: century-gothic, sans-serif;
  font-size: 15px;
}

@media screen and (min-width: 800px){
  .content-general{
    max-width: 80%;
    
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1200px){
  .content-general{
    max-width: 1000px;
    
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}



.margin-top-leistungen{
  padding-top: 4rem;
  
}

#contact-alert{
  text-align: center;
  display: none;
}